:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  max-width: 1000px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

header>ol{
list-style: none;
display:inline-block;
text-align: right;
}

header>img{
  float: left;
}

main{
  padding-top: 3em;
}

.grid1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  
  }

  .limited>li{
    list-style: none;
    text-decoration: none;
  }

  .try-it{
    display: grid;
  grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em; 
  }

  #item1{
  grid-area: item1;
  }

  #item2{
  grid-area: item2;
  }

  #item3{
    grid-area: item3;
  }

  #item4{
    grid-area: item4;
  }

  h2{
  text-align: center;
  }

  .reviews{
    color: #fff;
    background-color: black;
    padding: 1em;
  }

  .reviews{
    display: grid;
    grid-template-areas: 
    "review1 review1 review1"
    "review1 review2 review3";
    grid-template-columns:1fr 1fr 1fr;
    gap: 1em;
  
  }

  .reviews>h2{
    text-align: center;
  }

  #review1{
    grid-area: review1;
  }

  #review2{
    grid-area: review2;
  }

  #review3{
    grid-area: review3;
  }

  .behind{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-bottom: 2em;
  }

  footer{
    text-align: center;
    padding-top: 2em;
  }

  @media (min-width:360px){

    header{
      display: flex;
      align-items: center;
    }

    header>ol{
      display: flex;
    }
  }

 